version: "3.9"

services:
  db:
    image: mysql:8
    container_name: abysalto-mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: abysalto_database
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      retries: 5

  app:
    build: .
    container_name: abysalto-app
    environment:
      SPRING_DATASOURCE_URL: "jdbc:mysql://db:3306/abysalto_database?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true"
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root
      JWT_SECRET: VeRyL0ngAndSecureJWTSecretKey123454321
      JWT_EXPIRATION: 3600000
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy

volumes:
  mysql_data:
